data/MT/xsd/file.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="File">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="numconf" type="xs:unsignedInt" />
        <xs:element name="codemag" type="xs:unsignedByte" />
        <xs:element name="dateconf" type="xs:date" />
        <xs:element name="conf">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CodePlu" type="xs:unsignedInt" />
              <xs:element name="CodeArticle" type="xs:string" />
              <xs:element name="QtArticle" type="xs:unsignedByte" />
              <xs:element name="PrixConf" type="xs:decimal" />
              <xs:element name="Nbpieces" type="xs:unsignedByte" />
              <xs:element name="tissu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CodeTissu" type="xs:unsignedInt" />
                    <xs:element name="QtTissu1" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="client">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Nom" type="xs:string" />
              <xs:element name="Prenom" type="xs:string" />
              <xs:element name="civility" type="xs:unsignedByte" />
              <xs:element name="Email" type="xs:string" />
              <xs:element name="Adresse1" type="xs:string" />
              <xs:element name="Adresse2" />
              <xs:element name="CP" type="xs:unsignedShort" />
              <xs:element name="Ville" type="xs:string" />
              <xs:element name="Pays" type="xs:string" />
              <xs:element name="Telephone" type="xs:unsignedInt" />
              <xs:element name="CarteFid" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>